/* MY STYLES */

nav {
	display: flex;
	justify-content: space-between;
	margin: 1.5em;
}

nav a {
	padding: 1em;
	text-decoration: none;
	color: #fff;
	transition: font-size 200ms;
}

nav a:hover {
	text-decoration: none;
	color: black;
	background-color: #fff;
	border-radius: 12px;
}

h1 {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
	color: #fff;
}

img {
	display: block;
	width: 70%;
	margin: 0 auto;
	border-radius: 10%;
}

.container {
	width: 100%;
}

.moreInfo {
	margin-top: 2em;
	margin-bottom: 4em;
}

.btn-grad {
	background-image: linear-gradient(
		to right,
		#314755 0%,
		#26a0da 51%,
		#314755 100%
	);
}
.btn-grad {
	margin: 10px;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	display: block;
}

.btn-grad {
	background-image: linear-gradient(
		to right,
		#2b5876 0%,
		#4e4376 51%,
		#2b5876 100%
	);
}
.btn-grad {
	margin: 10px;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	display: block;
}

.btn-grad:hover {
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}

.btn {
	background-color: white;
	display: block;
	margin: 0 auto;
}

.btn:hover {
	background-color: black;
	color: white;
}

footer {
	text-align: center;
	margin-top: 10em;
	padding-bottom: 5em;
}
