html,
body {
	background: rgb(240, 167, 13);
	background: radial-gradient(
		circle,
		rgba(240, 167, 13, 1) 0%,
		rgba(158, 62, 3, 1) 29%,
		rgba(60, 51, 44, 1) 53%,
		rgba(35, 8, 79, 1) 100%
	);
	color: #fff;
}
